@model Room

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold">Otaqlar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    @foreach (RoomImage item in Model.RoomImages)
                    {
                        <img class="mx-3" style="width:180px; height:180px; object-fit:contain" src="~/assets/images/room/@item.Image" />
                    }
                </div>
                <h4>Number: @Model.Number</h4>
                @if (Model.CustomerId != null)
                {
                    <div>Otaq sahibi: @Model.Customer.Name</div>
                }
                <div>Otaq tipi: @Model.RoomType.Name</div>
                <div>Otaq qiyməti: @Model.RoomType.Price</div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div>
                    <a class="btn btn-primary btn-md" asp-action="Edit" asp-route-id="@Model.Id">Düzəliş Et</a>
                    <a class="btn btn-secondary btn-md my-3" asp-action="Index">Geri</a>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>