@model RoomType

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold">Otaq Tipləri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4>Otaq tipinin adı: @Model.Name</h4>
                <div>
                    Otaq tipinin həcmi: @Model.Capacity
                </div>
                <div>
                    Otaq tipinin təsviri: @Model.Description
                </div>
                <div>
                    Otaq tipinin qiyməti: @Model.Price
                </div>
                <div>
                    Otaq nömrəsi:
                    @foreach (Room item in ViewBag.Rooms)
                    {
                        <div class="d-inline">@item.Number, </div>
                    }
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-primary btn-md" asp-action="Edit" asp-route-id="@Model.Id">Düzəliş Et</a>
                <a class="btn btn-secondary btn-md ml-3" asp-action="Index">Geri</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>